// White (http://www.colorhexa.com/ffffff)
$white: #fff;
// Very light gray (mostly white) (http://www.colorhexa.com/f6f6f6)
$gray-very-light-mostly-white: #f6f6f6;
// Light gray (http://www.colorhexa.com/c3c3c3)
$gray-light: #c3c3c3;
// Light gray (http://www.colorhexa.com/777)
$gray-dark: #777;
// Strong blue (http://www.colorhexa.com/2271b1)
// @link https://github.com/WordPress/WordPress/blob/5.7/wp-includes/css/buttons.css#L240-L255
$wp-button-primary-background-color: #2271b1;
$wp-button-primary-background-hover-color: #135e96;

body {
	background: $gray-very-light-mostly-white;

	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pronamic-pay-redirect-page {
	margin: 0 auto;

	max-width: 750px;
}

.pronamic-pay-redirect-container {
	background: $gray-very-light-mostly-white;

	margin: 30px auto;
	padding: 20px;

	text-align: center;

	h1 {
		margin: 0;
	}

	&::after {
		clear: both;
		content: '';
		display: table;
	}

	> p {
		color: $gray-dark;
	}

	.pp-page-section-container {
		* {
			box-sizing: border-box;
		}

		.pp-page-section-wrapper {
			background: #fff;
			border-radius: 20px;
			box-shadow: 0 0 20px rgba(0, 0, 0, .1);
			color: #333;
			max-width: 600px;
			margin: 3em auto 0 auto;
			padding: 40px;

			h2 {
				margin-top: 0;
			}

			dl {
				display: flex;
				flex-flow: row wrap;

				dt, dd {
					float: left;
					padding-bottom: 5px;
				}

				dt {
					flex-basis: 30%;
					font-weight: bold;
				}

				dd {
					flex-basis: 70%;
					margin-inline-start: 0;
				}
			}
		}
	}

	input[type="submit"],
	select {
		padding: 10px 20px;
	}

	input[type="submit"] {
		background: $wp-button-primary-background-color;
		border: none;
		border-radius: 3px;
		color: $white;
		cursor: pointer;
		font-size: 1.25em;
		font-weight: 300;
		letter-spacing: .05rem;
		white-space: normal;

		&:hover {
			background-color: $wp-button-primary-background-hover-color;
		}
	}

	@media (max-width: 600px) {
		input[type="submit"] {
			font-size: 3.5vw;
		}
	}
}

hr {
	background: $gray-light;

	border: 0;

	margin: 2em auto;

	width: 60%;
	height: 1px;
}

#pronamic_ideal_form {
	label {
		display: block;

		font-weight: bold;

		margin-bottom: .5em;
	}

	p {
		.pronamic-pay-btn {
			margin-top: .5em;
		}
	}
}

.alignleft {
	text-align: left;
}