# Build
/build/

# Composer
/composer.lock
/vendor/

# Composer bin plugin
/vendor-bin/**/vendor

# Eclipse
/.buildpath
/.project
/.settings

# Node.js
/package-lock.json
/node_modules/

# SASS
.sass-cache

# WordPress
/wordpress/
/wp-content/

# PHPUnit
/.phpunit.result.cache
