<?xml version="1.0"?>

<ruleset name="WordPress Pay: Core rules">
	<config name="installed_paths" value="vendor/wp-coding-standards/wpcs,vendor/wimg/php-compatibility" />

	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.3-99.0"/>

	<exclude-pattern>includes/xmlseclibs/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>

	<rule ref="PHPCompatibility">
		<!-- https://github.com/WordPress/WordPress/blob/4.9.8/wp-includes/compat.php#L355-L359 -->
		<exclude name="PHPCompatibility.PHP.NewConstants.json_pretty_printFound" />
	</rule>

	<rule ref="WordPress">
		<exclude name="Generic.Files.LowercasedFilename.NotFound" />

		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_key" />
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_query" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

		<exclude name="WordPress.Security.SafeRedirect.wp_redirect_wp_redirect" />
	</rule>

	<rule ref="Squiz.PHP.CommentedOutCode.Found">
		<exclude-pattern>/tests/UtilTest.php</exclude-pattern>
	</rule>

	<rule ref="PHPCompatibility.PHP.NewConstants.sort_flag_caseFound">
		<exclude-pattern>/src/Admin/GatewaySettings.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DevelopmentFunctions.error_log_trigger_error">
		<exclude-pattern>/src/Payments/Item.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.runtime_configuration_putenv">
		<exclude-pattern>/tests/phpstan-bootstrap.php</exclude-pattern>
	</rule>
</ruleset>
