<?xml version="1.0"?>

<ruleset name="WordPress Pay: Core rules">
	<file>.</file>

	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>

	<rule ref="Generic.CodeAnalysis.EmptyStatement.DetectedCatch">
		<exclude-pattern>views/subscription-mandate.php</exclude-pattern>
	</rule>

	<rule ref="PronamicWP">
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_query" />

		<exclude name="WordPress.Security.SafeRedirect.wp_redirect_wp_redirect" />

		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.custom_role_add_role" />
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.flush_rewrite_rules_flush_rewrite_rules" />
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.url_to_postid_url_to_postid" />
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.wp_remote_get_wp_remote_get" />

		<exclude name="WordPressVIPMinimum.Hooks.PreGetPosts.PreGetPosts" />

		<exclude name="WordPressVIPMinimum.Performance.FetchingRemoteData.FileGetContentsUnknown" />
		<exclude name="WordPressVIPMinimum.Performance.FetchingRemoteData.FileGetContentsRemoteFile" />
		<exclude name="WordPressVIPMinimum.Performance.NoPaging.nopaging_nopaging" />
		<exclude name="WordPressVIPMinimum.Performance.RemoteRequestTimeout.timeout_timeout" />

		<exclude name="WordPressVIPMinimum.Variables.RestrictedVariables.cache_constraints___COOKIE" />
		<exclude name="WordPressVIPMinimum.Variables.RestrictedVariables.cache_constraints___SERVER__HTTP_USER_AGENT__" />
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" value="pronamic_ideal" />
		</properties>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.runtime_configuration_putenv">
		<exclude-pattern>/tests/phpstan-bootstrap.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.serialize_serialize">
		<exclude-pattern>/src/Admin/AdminGatewayPostType.php</exclude-pattern>
		<exclude-pattern>/src/Core/Gateway.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.Capabilities">
		<properties>
			<property name="custom_capabilities" type="array">
				<element value="edit_payments" />
			</property>
		</properties>
	</rule>
</ruleset>
