parameters:
	level: 8
	dynamicConstantNames:
		- WP_CLI
	scanDirectories:
		- vendor/woocommerce/action-scheduler
		- vendor/wp-cli
	paths:
		- src/
		- views/
	ignoreErrors:
		-
			identifier: missingType.iterableValue
