parameters:
	customRulesetUsed: false
	level: max
	bootstrapFiles:
		- tests/bootstrap.php
	paths:
		- src
	dynamicConstantNames:
		- SCRIPT_DEBUG
	ignoreErrors:
		-
			message: '#Function shortcode_ui_register_for_shortcode not found\.#'
			path: %currentWorkingDirectory%/src/Forms/FormShortcode.php
		-
			message: '#Function wp_add_dashboard_widget not found\.#'
			path: %currentWorkingDirectory%/src/Admin/AdminDashboard.php
		-
			message: '#Function pll_home_url not found\.#'
			path: %currentWorkingDirectory%/src/Payments/Payment.php
		-
			message: '#Call to an undefined method SoapClient::.+\(\)\.#'
			path: %currentWorkingDirectory%/src/VatNumbers/VatNumberViesValidator.php
	checkMissingIterableValueType: false
