.pronamic-pay-payment-methods {
	&.form-table.widefat {
		width: calc( 100% + 20px );
		margin: -15px -10px;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}

	thead {
		th:first-of-type {
			width: 60%;
		}
	}

	.pronamic-pay-icon {
		line-height: inherit;
	}

	.pronamic-pay-icon-completed {
		&::after {
			color: $pronamic-pay-processing-color;
		}
	}

	.pronamic-pay-icon-cancelled {
		&::after {
			color: $gray;
		}
	}
}

@media screen and (max-width: 782px) {
	.pronamic-pay-payment-methods {
		&.form-table {
			th {
				display: table-cell;

				&:first-of-type {
					width: 50%;
				}
			}

			td {
				display: table-cell;
			}
		}
	}
}
