.pronamic-pay-payment-methods {
	&.form-table.widefat {
		width: calc( 100% + 20px );
		margin: -15px -10px;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}

	thead {
		th:first-of-type {
			width: 60%;
		}
	}

	.pronamic-pay-icon-completed {
		&::after {
			color: $pronamic-pay-processing-color;
		}
	}
}
