//
// Text (https://github.com/twbs/bootstrap/blob/v4.3.1/scss/utilities/_text.scss)
//

.pronamic-pay-text-success {
	color: $green;
}

.pronamic-pay-text-danger {
	color: $red;
}

.pronamic-pay-text-warning {
	color: $orange;
}
