/* Icons */
$ppi-ideal: "\f101";
$ppi-pay: "\f102";
$ppi-pronamic: "\f103";
$ppi-question-mark: "\f104";
$ppi-recurring: "\f105";
$ppi-status-cancelled: "\f106";
$ppi-status-completed: "\f107";
$ppi-status-failed: "\f108";
$ppi-status-on-hold: "\f109";
$ppi-status-pending: "\f10a";
$ppi-status-processing: "\f10b";
$ppi-status-refunded: "\f10c";
